
.alert{
    padding:.75rem 1.25rem;
    color:var(--font-color-invert);
    border-radius:.25rem;
    border:1px solid transparent;
    line-height:1.5;

}
.alert-primary{
    background: var(--primary);
}

.alert-secondary{
    background: var(--secondary);
}
.alert-success{
    background: var(--success);
}
.alert-error{
    background: var(--error);
}
.alert-warning{
    background: var(--warning);
}